@import model.music.Album
@import views.html.helper.form
@(albums: List[Album])
@main("Welcome to Project Video") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/discography.css")">
    <body background="@routes.Assets.at("images/background.jpg")">
    @form(action = routes.BaseController.discography) {
        <input type="input" class="search_field" name="artist">
        <input type="submit" class="search" value="search">
        @for((album, index) <- albums.zipWithIndex) {
            <table class="mainTable">
                <tr>
                    <td>
                        <img class="image" src='@album.asInstanceOf[Album].artWorkUrl'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Artis:@album.artistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Album:@album.collectionName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="songs_table">
                            <label>Songs:</label>
                            @for((song, index) <- album.asInstanceOf[Album].songs.zipWithIndex) {
                                <tr>
                                    <td class="td_song">
                                        <label>@song.trackName</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <audio controls preload="none" class="song">
                                            <source src='@song.previewUrl' type="audio/mp4" />
                                        </audio>
                                    </td>
                                    <td>
                                        <label class="price">Price:@song.trackPrice</label>
                                    </td>
                                    <td>
                                        <a class="buy_itunes" href="@song.trackViewUrl" class="button">Buy</a>
                                    </td>
                                    @if(song.videoClip != null) {
                                        <td>
                                            <video controls="" class="video">
                                                <source src="@song.videoClip.previewUrl" type="video/mp4"/>
                                            </video>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Genre:@album.primaryGenreName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Country:@album.country</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Release date:@album.releaseDate</label>
                    </td>
                </tr>
            </table>
            <hr>
            }
    }
    </body>


}

