@import model.Album
@import views.html.helper.form
@(albums: List[Album])
@main("Welcome to Project Video") {
    <body background="@routes.Assets.at("images/background.jpg")">
    @form(action = routes.BaseController.discography) {
        <input type="input" class="search_field" name="artist">
        <input type="submit" class="search" value="search">
        @for((album, index) <- albums.zipWithIndex) {
            <table class="mainTable">
                <tr>
                    <td>
                        <img class="image" src='@album.asInstanceOf[Album].artWorkUrl'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Artis:@album.asInstanceOf[Album].artistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Album:@album.asInstanceOf[Album].collectionName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="songs_table">
                            <label>Songs:</label>
                            @for((song, index) <- album.asInstanceOf[Album].songs.zipWithIndex) {
                                <tr>
                                    <td class="td_song">
                                        <label>@song.trackName</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <audio controls preload="none" class="song">
                                            <source src='@song.previewUrl' type="audio/mp4" />
                                        </audio>
                                    </td>
                                    <td>
                                        <label class="price">Price:@song.trackPrice</label>
                                    </td>
                                    @if(song.videoClip != null) {
                                        <td>
                                            <video controls="" class="video">
                                                <source src="@song.videoClip.previewUrl" type="video/mp4"/>
                                            </video>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Genre:@album.asInstanceOf[Album].primaryGenreName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Country:@album.asInstanceOf[Album].country</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Release date:@album.asInstanceOf[Album].releaseDate</label>
                    </td>
                </tr>
            </table>
            <hr>
            }
    }
    </body>


}
<style>


.search {
background-color: #d2ffff ;
border-bottom-right-radius: 10px ;
border-bottom-left-radius: 10px ;
border-top-left-radius: 10px ;
border-top-right-radius: 10px ;
position: relative ;
left: 285px ;
top: 80px ;
width: 80px ;
}

.search_field {
border-bottom-right-radius: 10px ;
border-bottom-left-radius: 10px ;
border-top-left-radius: 10px ;
border-top-right-radius: 10px ;
position: relative ;
left: 450px ;
top:40px ;
width: 250px ;
}

.song {
width: 350px ;
position: relative ;
left: 150px ;
}

.image {
border-bottom-right-radius: 10px ;
border-bottom-left-radius: 10px ;
border-top-left-radius: 10px ;
border-top-right-radius: 10px ;
}

.price {
position: relative ;
left: 160px ;
}

.td_song {
position: relative ;
left: 130px ;
width: 15px;
}

.songs_table {
position: relative ;
left: -90px ;
}

.video {
position:relative ;
left: 220px ;
width: 200px ;
height: 200px ;
}
.mainTable {
/*position:relative ;*/
/*width: 200px ;*/
/*height: 200px ;*/
}

</style>
