@import views.html.helper.form
@import politrons.apple.search.model.music.Album
@(albums: List[Album])
@main("Welcome to Project Video","/") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/general.css")">
    <body background="@routes.Assets.at("images/background.jpg")">
        <img class="itunes_logo" src="@routes.Assets.at("images/itunes.png")">
        @form(action = routes.AppleController.discography) {
        <input type="input" class="search_field" name="artist">
        <input type="submit" class="search" value="search">
        @for((album, index) <- albums.zipWithIndex) {
            <table class="mainTable">
                <tr>
                    <td>
                        <img class="image" src='@album.getArtworkUrl100'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Artis:@album.getArtistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Album:@album.getCollectionName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="songs_table">
                            <label>Songs:</label>
                            @for((song, index) <- album.asInstanceOf[Album].songs.zipWithIndex) {
                                <tr>
                                    <td class="td_song">
                                        <label>@song.getTrackName</label>
                                    </td>
                                </tr>
                                @*<tr>*@
                                    @*<td>*@
                                        @*<audio controls preload="none" class="song">*@
                                            @*<source src='@song.previewUrl' type="audio/mp4" />*@
                                        @*</audio>*@
                                    @*</td>*@
                                    @*<td>*@
                                        @*<label class="price">Price:@song.trackPrice</label>*@
                                    @*</td>*@
                                    @*<td>*@
                                        @*<a class="buy_itunes" href="@song.trackViewUrl" class="button">Buy</a>*@
                                    @*</td>*@
                                    @*@if(song.videoClip != null) {*@
                                        @*<td>*@
                                            @*<video controls="" class="video">*@
                                                @*<source src="@song.videoClip.previewUrl" type="video/mp4"/>*@
                                            @*</video>*@
                                        @*</td>*@
                                    @*}*@
                                @*</tr>*@
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Genre:@album.getPrimaryGenreName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Country:@album.getCountry</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Release date:@album.releaseDate</label>
                    </td>
                </tr>
            </table>
            <hr>
            }
    }
    </body>


}

<style>
.itunes_logo {
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 100px;
height: 100px;
position: relative;
left: 530px;
top: 40px;
}
</style>
