@import model.steam.GameId
@import views._

@(games: List[GameId], messageCount: Int)
@main("Welcome to Project Video", "/") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/general.css")">
    <body background="@routes.Assets.at("images/background.jpg")">
        <div class="mainTable">
            <table >
            @for((game, index) <- games.zipWithIndex) {
                <tr>
                    <td>
                        <label></label>
                        <a class="gameId" href="gameDetails?gameId=@game.appid">@game.name</a>
                    </td>
                </tr>
            }
            </table>
            @html.pagination("index", messageCount / 10, "games")
        </div>
    </body>
}

<style>
.mainTable {
position: relative ;
top:30px
}

.gameId {


}
</style>
