@import model.account.User
@import views.html.helper.form
@(message: String, user: User = new User())

<link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/general.css")">

<body background="@routes.Assets.at("images/background.jpg")">
    @form(action = routes.UserController.create) {
        <div class="account">
            <label>User name:@user.userName</label>
            <div class="username_password">
                <input type="input" class="" name="userName" value="@user.userName">
                <input type="input" class="" name="password" value="@user.userName">
                <input type="submit" class="login_button" value="login">
            </div>
        </div>

    }
    @form(action = routes.BaseController.selectCountry) {
        <button class="us-flag" name="country" value="us"><img src="@routes.Assets.at("images/us-flag.GIF")"/></button>
        <button class="es-flag" name="country" value="es"><img src="@routes.Assets.at("images/flag-es.gif")" /></button>
        <button class="uk-flag" name="country" value="gb"><img src="@routes.Assets.at("images/flag-uk.jpg")"/></button>
    }
    <table>
        <tr>
            <td class="apple_section">
                <img class="apple_logo" src="@routes.Assets.at("images/apple_logo.gif")">

                @form(action = routes.AppleController.application()) {
                    <button class="search">Apps</button>
                }
                @form(action = routes.AppleController.discography()) {
                    <button class="search">Music</button>
                }
                @form(action = routes.AppleController.movie()) {
                    <button class="search">Movies</button>
                }
            </td>
            <td class="steam_section">
                <img class="steam_logo" src="@routes.Assets.at("images/steam.gif")">

                @form(action = routes.SteamController.games()) {
                    <button class="search">games</button>
                }
            </td>


        </tr>

    </table>

</body>

