@import model.movie.Movie
@import views.html.helper.form
@(movies: List[Movie])
@main("Welcome to Project Video") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/discography.css")">
    <body background="@routes.Assets.at("images/background.jpg")">
    @form(action = routes.BaseController.movie()) {
        <input type="input" class="search_field" name="movie">
        <input type="submit" class="search" value="search">
        @for((movie, index) <- movies.zipWithIndex) {
            <table class="mainTable">
                <tr>
                    <td>
                        <img class="image" src='@movie.artworkUrl'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Company:@movie.artistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Application:@movie.trackName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <video controls="" class="video">
                            <source src="@movie.previewUrl" type="video/mp4"/>
                        </video>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Rent:@movie.trackRentalPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>SD:@movie.trackPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>HD:@movie.collectionHdPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Genre:@movie.primaryGenreName</label>
                    </td>
                </tr>
            </table>
            <hr>
            }

    }
    </body>


}

