@import model.movie.Movie
@import views.html.helper.form
@(movies: List[Movie])
@main("Welcome to Project Video") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/css/general.css")">
    <body background="@routes.Assets.at("images/background.jpg")">
        <img class="apple_tv_logo" src="@routes.Assets.at("images/logo-appletv.png")">
        @form(action = routes.BaseController.movie()) {
        <input type="input" class="search_field" name="movie">
        <input type="submit" class="search" value="search">
        @for((movie, index) <- movies.zipWithIndex) {
            <table class="mainTable">
                <tr>
                    <td>
                        <img class="image" src='@movie.artworkUrl'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Company:@movie.artistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Title:@movie.trackName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <video controls="" class="video">
                            <source src="@movie.previewUrl" type="video/mp4"/>
                        </video>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Rent:@movie.trackRentalPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>SD:@movie.trackPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>HD:@movie.collectionHdPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Genre:@movie.primaryGenreName</label>
                    </td>
                </tr>
            </table>
            <hr>
            }

    }
    </body>


}

<style>
.apple_tv_logo {
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 120px;
height: 90px;
position: relative;
left: 525px;
top: 32px;
}
</style>

