@import scala.util.parsing.json
@(jsonArray: json.JSONArray)

@main("Welcome to Project Video") {

<!DOCTYPE html>

    <html>
        <body>
        @for((item, index) <- jsonArray.list.zipWithIndex) {
            <table>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("artistName")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("collectionName")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("trackName")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("primaryGenreName")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("country")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("country")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("trackPrice")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@item.asInstanceOf[Map[String, Any]].get("releaseDate")</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label></label>


                        <audio controls preload="none" style="width:480px;">
                            <source src='@item.asInstanceOf[Map[String, Any]].get("previewUrl")' type="audio/mp4" />
                        </audio>
                    </td>
                </tr>



                <tr>
                    <td>
                        <img src='@item.asInstanceOf[Map[String, Any]].get("artworkUrl100")'>
                    </td>
                </tr>
            </table>

        }


        </body>
    </html>


}