@import model.Album
@(albums: List[Album])

@main("Welcome to Project Video") {

<!DOCTYPE html>

    <html>
        <body>
        @for((album, index) <- albums.zipWithIndex) {
            <table>
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].artistName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].collectionName</label>
                    </td>
                </tr>
                @*<tr>*@
                    @*<td>*@
                        @*<label>@album.asInstanceOf[Album].get("trackName")</label>*@
                    @*</td>*@
                @*</tr>*@
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].primaryGenreName</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].country</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].trackPrice</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>@album.asInstanceOf[Album].releaseDate</label>
                    </td>
                </tr>
                @*<tr>*@
                    @*<td>*@
                        @*<label></label>*@


                        @*<audio controls preload="none" style="width:480px;">*@
                            @*<source src='@album.asInstanceOf[Album].get("previewUrl")' type="audio/mp4" />*@
                        @*</audio>*@
                    @*</td>*@
                @*</tr>*@



                @*<tr>*@
                    @*<td>*@
                        @*<img src='@album.asInstanceOf[Album].get("artworkUrl100")'>*@
                    @*</td>*@
                @*</tr>*@
            </table>

        }


        </body>
    </html>


}